@{
    Layout = "~/Views/Shared/Master.cshtml";


}


<!-- Statistics and revenue Start -->
<div class="col-md-12 ">
    <div class="card card-statistics ">
        <div class="card-header ">
            <div class="card-header-left ">
                <h5>Gerente Financeiro</h5>
            </div>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="icofont icofont-simple-left "></i></li>
                    <li><i class="icofont icofont-maximize full-card"></i></li>
                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                    <li><i class="icofont icofont-error close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block ">
            <div class="row ">
                <div class="col-sm-4 ">
                    <div class="row stats-block">
                        <div class="col-lg-6 ">
                            <div class="progressbar-v-1" id="porcentoCarteira">
                                @*<div class="chart" data-percent="15" data-barcolor="#4680FE" data-trackcolor="#dbdada" data-linewidth="6" data-barsize="110">
                                    <div class="chart-percent"><span></span>%</div>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                           <h2 class="f-w-400 saldo-recebido"></h2>
                            <p class="text-muted">Dinheiro total</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="row stats-block">
                        <div class="col-lg-6 ">
                            <div class="progressbar-v-1" id="teste">
                                @*<div class="chart dial" data-percent="70" data-barcolor="#FC6180" data-trackcolor="#dbdada" data-linewidth="6" data-barsize="110" id="meu-teste">
                                    <div class="chart-percent"><span></span>%</div>
                                </div>*@
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <h2 class="f-w-400"><span id="total-gastos"></span></h2>
                            <p class="text-muted ">Dinheiro gasto</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="row stats-block">
                        <div class="col-lg-6 ">
                            <div class="progressbar-v-1">
                                <div class="chart" data-percent="75" data-barcolor="#FFB64D" data-trackcolor="#dbdada" data-linewidth="6" data-barsize="110">
                                    <div class="chart-percent"><span></span>%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <h2 class="f-w-400 ">3,198</h2>
                            <p class="text-muted ">Receita total</p>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="b-t-default p-t-20 m-t-30">
                    <div class="row ">
                        <div class="col-sm-4 ">
                            <h6 class="d-inline-block m-r-10 ">Crescimento do usuário</h6>
                            <span class="label bg-c-blue ">28%</span>
                        </div>
                        <div class="col-sm-4 ">
                            <h6 class="d-inline-block m-r-10 ">Crescimento ganhando</h6>
                            <span class="label bg-c-pink ">12%</span>
                        </div>
                        <div class="col-sm-4 ">
                            <h6 class="d-inline-block m-r-10 ">Crescimento do comércio</h6>
                            <span class="label bg-c-yellow ">56%</span>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<!-- Statistics and revenue End -->
<!--Graficos INICIO-->
<div class="col-md-12 col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5>Estatisticas</h5>
            <div class="card-header-left ">
            </div>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="icofont icofont-simple-left "></i></li>
                    <li><i class="icofont icofont-maximize full-card"></i></li>
                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                    <li><i class="icofont icofont-error close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-8">
                    <div class="line-example">
                        <canvas id="myChart" style=" height:300px;"></canvas>
                        @*<div id="statestics-chart" style=" height:300px;"></div>*@
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <canvas id="chartSetor" @*style=" height:300px;"*@></canvas>
                    @*<div id="invoice" style=" height:300px;"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--Graficos FIM-->
<!--TABELA CARTAO INICIO -->
<div class="col-md-12 col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5>Lista Gastos</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="icofont icofont-simple-left "></i></li>
                    <li><i class="icofont icofont-maximize full-card"></i></li>
                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                    <li><i class="icofont icofont-error close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="col-xl-12 col-md-12">
                <div class="dt-responsive table-responsive">
                    <table id="tabela-teste" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>conta</th>
                                <th>categoria</th>
                                <th>valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>conta</th>
                                <th>categoria</th>
                                <th>valor</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TABELA CARTAO FIM-->
<div class="col-sm-8">
    <div class="card">
        <div class="card-header">
            <h5>Calendário</h5>
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="icofont icofont-simple-left "></i></li>
                    <li><i class="icofont icofont-maximize full-card"></i></li>
                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                    <li><i class="icofont icofont-error close-card"></i></li>
                </ul>
            </div>
        </div>
        <div class="card-block">
            <div class="col-sm-10">
                <div class="row">
                    <div id='calendario'></div>
                </div>
            </div>
        </div>
    </div>
</div>




@Html.Partial("~/Views/Pessoas/EditarModal.cshtml")
@Html.Partial("~/Views/Cartao/CadastroCartaoModal.cshtml")
@Html.Partial("~/Views/Recebimento/CadastroRecebimentoModal.cshtml")
@Html.Partial("~/Views/Gasto/CadastroGastosModal.cshtml")
@Html.Partial("~/Views/Gasto/ModalEditarGastos.cshtml")
@Html.Partial("~/Views/Gasto/AvisoModalExcluirGasto.cshtml")

<!--Modal Calendario-->
@Html.Partial("~/Views/ModalCalendario/ModalView.cshtml")
@Html.Partial("~/Views/ModalCalendario/ModalVisualizarEvento.cshtml")


@section css{

    <!-- SELECT2 -->
    <link href="~/Content/bower_components/select2/css/select2.min.css" rel="stylesheet" />

    <!-- pnotify js -->
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.brighttheme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.buttons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.history.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.mobile.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/pages/pnotify/notify.css">
}

@section script{


    <!-- pnotify js -->
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.desktop.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.buttons.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.confirm.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.callbacks.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.animate.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.history.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.mobile.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.nonblock.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/pnotify/notify.js"></script>


    <!-- counter js -->
    <script src="~/Content/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/Content/assets/js/counter.js"></script>
    <!-- Morris Chart js -->
    <script src="~/Content/bower_components/raphael/js/raphael.min.js"></script>
    <script src="~/Content/bower_components/morris.js/js/morris.js"></script>

    <!-- Rickshow Chart js -->
    <script src="~/Content/bower_components/d3/js/d3.js"></script>
    <script src="~/Content/assets/pages/chart/rickshow/d3.layout.min.js"></script>
    <script src="~/Content/bower_components/rickshaw/js/rickshaw.js"></script>

    <!-- gauge js -->
    <script src="~/Content/assets/pages/widget/gauge/gauge.min.js "></script>
    <script src="~/Content/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/serial.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/gauge.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/pie.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/light.js"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/Content/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/SmoothScroll.js"></script>

    <!-- Custom js -->
    <script src="~/Content/assets/js/pcoded.min.js"></script>
    <script src="~/Content/assets/js/demo-12.js"></script>
    <script src="~/Content/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>
    <script src="~/Content/bower_components/chart.js/js/Chart.js"></script>

    <script src="~/Scripts/scriptHome/grafico-recebimento-home.js"></script>
    <script src="~/Scripts/scriptHome/grafico-gastos-setor-home.js"></script>
    <script src="~/Scripts/scriptHome/calculosHome.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/edit-person-modal.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/cartao.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/add-recebimento.js"></script>

    <script src="~/Scripts/ScriptPessoaCadastro/add-gastos.js"></script>
    <script src="~/Scripts/Login/login-usuario.js"></script>

    <script src="~/Scripts/ValidacaoMask/validarFormulario.js"></script>
    <script src="~/Scripts/ValidacaoMask/validacaoCartao.js"></script>
    
}
