@model IEnumerable<SistemaFinanceiro.Models.Pessoas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Cadastro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>

@foreach (SistemaFinanceiro.Models.Pessoas pessoas in @ViewBag.Pessoas) {
    <tr id="linha-@pessoas.Id">
        <td>
            @Html.DisplayFor(modelItem => pessoas.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => pessoas.Idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => pessoas.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => pessoas.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => pessoas.Data_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => pessoas.Telefone)
        </td>
        <td>
            <a href="#" class="btn btn-danger excluir-pessoa" data-id="@pessoas.Id" data-target="#exampleModal" data-toggle="modal">Exlcuir</a> |
            <a href="#" class="btn btn-warning editar-pessoa" data-id="@pessoas.Id" data-target="" data-toggle="" >Editar</a> |
            @Html.ActionLink("Editar", "Editar", new { id = pessoas.Id }) |
            @Html.ActionLink("Details", "Details", new { id = pessoas.Id }) |
            @Html.ActionLink("Excluir", "Excluir", new { id = pessoas.Id })
        </td>
    </tr>
}

</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                AVISO!
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja mesmo Excluir ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="yes-option">Excluir</button>
            </div>
        </div>
    </div>
</div>
    

