@model IEnumerable<SistemaFinanceiro.Models.Pessoas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}



<a href="#" class="btn btn-primary cadastrar-pessoa" data-target="#cadastrar-pessoa-modal" data-toggle="modal">Cadastrar</a>
<a href="#" class="btn btn-warning editar-pessoa" data-target="#editar-pessoa-modal" data-toggle="modal">Editar</a>
<a href="#" class="btn btn-danger aviso-pessoa" data-target="#avisoModal" data-toggle="modal">Excluir</a>

@*<div class="card-block">*@
<div class="table-responsive dt-responsive">
    <table id="tabela-pessoas" class="table table-striped tabela-pessoas-index" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Data Nascimento</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>CEP</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            @*<tr>
                    <th>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Data Nascimento</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>CEP</th>
                </tr>*@
        </tfoot>
    </table>
</div>
@*</div>*@

<a href="#" class="btn btn-danger modal-usuario" data-target="#modal-perfil-usuario" data-toggle="modal">perfil usuario</a>
<a href="#" class="btn btn-success modal-recebimento-pessoa" data-target="#modal-gastos-pessoa" data-toggle="modal">Cadastrar Recebimento</a>



@Html.Partial("~/Views/PerfilUsuario/cadastroCartaoModal.cshtml")
@Html.Partial("~/Views/PerfilUsuario/IndexPerfil.cshtml")
@Html.Partial("~/Views/Pessoas/CadastroModal.cshtml")
@Html.Partial("~/Views/Pessoas/EditarModal.cshtml")
@Html.Partial("~/Views/Pessoas/AvisoModal.cshtml")
@Html.Partial("~/Views/Pessoas/CadastroRecebimentoModal.cshtml")


@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.brighttheme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.buttons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.history.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.mobile.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/pages/pnotify/notify.css">
}


@section script{
    <!-- pnotify js -->
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.desktop.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.buttons.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.confirm.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.callbacks.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.animate.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.history.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.mobile.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.nonblock.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/pnotify/notify.js"></script>

    @*<!-- Required Jquery -->
        <script type="text/javascript" src="~/Content/bower_components/jquery/js/jquery.min.js"></script>
                <script type="text/javascript" src="~/Content/bower_components/jquery/js/jquery.min.js"></script>
                <script type="text/javascript" src="~/Content/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
                <script type="text/javascript" src="~/Content/bower_components/popper.js/js/popper.min.js"></script>
                <script type="text/javascript" src="~/Content/bower_components/bootstrap/js/bootstrap.min.js"></script>
                <!-- jquery slimscroll js -->
                <script type="text/javascript" src="~/Content/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
                <!-- modernizr js -->
                <script type="text/javascript" src="~/Content/bower_components/modernizr/js/modernizr.js"></script>*@
    <script src="~/Scripts/jquery.inputmask.bundle.min.js"></script>

    <script type="text/javascript" src="~/Content/bower_components/modernizr/js/css-scrollbars.js"></script>

    <!-- data-table js -->
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- i18next.min.js -->
    @*<script type="text/javascript" src="~/Content/bower_components/i18next/js/i18next.min.js"></script>
        <script type="text/javascript" src="~/Content/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
        <script type="text/javascript"
                src="~/Content/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
        <script type="text/javascript" src="~/Content/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>*@
    <!-- Custom js -->
    <script src="~/Content/assets/pages/data-table/js/data-table-custom.js"></script>

    @*<script src="~/Content/assets/js/pcoded.min.js"></script>*@
    @*<script src="~/Content/assets/js/demo-12.js"></script>*@
    @*<script src="~/Content/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>

    <script src="~/Scripts/ScriptPessoaCadastro/datatable-index.js"></script>

    @*<script src="~/Scripts/ScriptPessoaCadastro/delete-person-modal.js"></script>*@



}




