

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.TituloPagina</title>

    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/fontawesome-free-5.2.0-web/css/all.css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/ScriptPessoaCadastro/pessoas-cadastro.js"></script>
   
   
</head>
<body >

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">#TUDOPUTA</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li>@Html.ActionLink("Pessoas", "Index","Pessoas/Index")</li>
                    <li>@Html.ActionLink("Gastos", "Index", "Gasto/Index")</li>
                    <li>@Html.ActionLink("Cartão", "Index", "Cartao/Index")</li>
                    <li>@Html.ActionLink("Categoria", "Index", "Categoria/Index")</li>
                    <li>@Html.ActionLink("Recebimento", "Index", "Recebimento/Index")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("script", false)
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
   


</body>
</html>
