@model SistemaFinanceiro.Models.Pessoas
@{
    int pessoa = Convert.ToInt32(Session["user"]);

    // @Html.Encode(Session["user"])

    //foreach (SistemaFinanceiro.Models.Pessoas item in ViewBag.Pessoa)
    //{
    //    if (item.Id == pessoa)
    //    {
    //        item.Nome.ToString();
    //    }
    //}
}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>GURU Able - Premium Admin Template </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/bootstrap/css/bootstrap.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/icon/icofont/css/icofont.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/pages/menu-search/css/component.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/jquery.mCustomScrollbar.css">
    @RenderSection("css", false)
</head>


<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- Pre-loader start -->
            <div class="theme-loader">
                <div class="ball-scale">
                    <div class='contain'>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                        <div class="ring">
                            <div class="frame"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pre-loader end -->
            <div id="pcoded" class="pcoded">
                <div class="pcoded-overlay-box"></div>
                <div class="pcoded-container navbar-wrapper">

                    <nav class="navbar header-navbar pcoded-header">
                        <div class="navbar-wrapper">

                            <div class="navbar-logo">
                                <a class="mobile-menu" id="mobile-collapse" href="#!">
                                    <i class="ti-menu"></i>
                                </a>
                                <a class="mobile-search morphsearch-search" href="#">
                                    <i class="ti-search"></i>
                                </a>
                                <a href="index.html">
                                    <img class="img-fluid" src="~/Content/assets/images/logo.png" alt="Theme-Logo" />
                                </a>
                                <a class="mobile-options">
                                    <i class="ti-more"></i>
                                </a>
                            </div>

                            <div class="navbar-container container-fluid">
                                <ul class="nav-left">
                                    <li>
                                        <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                                    </li>
                                    <li>
                                        <a class="main-search morphsearch-search" href="#">
                                            <!-- themify icon -->
                                            <i class="ti-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" onclick="javascript:toggleFullScreen()">
                                            <i class="ti-fullscreen"></i>
                                        </a>
                                    </li>
                                    <li class="mega-menu-top">

                                    </li>
                                </ul>
                                <ul class="nav-right">


                                    <li class="user-profile header-notification">
                                        <a href="#!">
                                            <img src="~/Content/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                            @foreach (SistemaFinanceiro.Models.Pessoas item in ViewBag.Pessoa)
                                            {
                                                if (item.Id == pessoa)
                                                {
                                                    <span id="nome-user-login">@item.Nome</span>
                                                }
                                            }

                                            <i class="ti-angle-down"></i>
                                        </a>
                                        <ul class="show-notification profile-notification">
                                            <li>
                                                <a href="#" class="editar-pessoa" data-target="#editar-pessoa-modal" data-toggle="modal">
                                                    <i class="ti-settings"></i> Settings
                                                </a>
                                            </li>
                                            <li>
                                                <a href="user-profile.html">
                                                    <i class="ti-user"></i> Profile
                                                </a>
                                            </li>
                                            <li>
                                                <a href="email-inbox.html">
                                                    <i class="ti-email"></i> My Messages
                                                </a>
                                            </li>
                                            <li>
                                                <a href="auth-lock-screen.html">
                                                    <i class="ti-lock"></i> Lock Screen
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Login/Index/@Session["user"] = null">
                                                    <i class="ti-layout-sidebar-left"></i> Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- search -->
                                <div id="morphsearch" class="morphsearch">
                                    <form class="morphsearch-form">
                                        <input class="morphsearch-input" type="search" placeholder="Search..." />
                                        <button class="morphsearch-submit" type="submit">Search</button>
                                    </form>
                                    <div class="morphsearch-content">
                                        <div class="dummy-column">
                                            <h2>People</h2>
                                            <a class="dummy-media-object img-radius" href="#!">
                                                <img src="~/Content/assets/images/avatar-4.jpg" class="img-radius" alt="Sara Soueidan" />
                                                <h3>Sara Soueidan</h3>
                                            </a>
                                            <a class="dummy-media-object img-radius" href="#!">
                                                <img src="~/Content/assets/images/avatar-2.jpg" class="img-radius" alt="Shaun Dona" />
                                                <h3>Shaun Dona</h3>
                                            </a>
                                        </div>
                                        <div class="dummy-column">
                                            <h2>Popular</h2>
                                            <a class="dummy-media-object img-radius" href="#!">
                                                <img src="~/Content/assets/images/avatar-3.jpg" class="img-radius" alt="PagePreloadingEffect" />
                                                <h3>Page Preloading Effect</h3>
                                            </a>
                                            <a class="dummy-media-object img-radius" href="#!">
                                                <img src="~/Content/assets/images/avatar-4.jpg" class="img-radius" alt="DraggableDualViewSlideshow" />
                                                <h3>Draggable Dual-View Slideshow</h3>
                                            </a>
                                        </div>
                                        <div class="dummy-column">
                                            <h2>Recent</h2>
                                            <a class="dummy-media-object img-radius" href="#!">
                                                <img src="~/Content/assets/images/avatar-2.jpg" class="img-radius" alt="TooltipStylesInspiration" />
                                                <h3>Tooltip Styles Inspiration</h3>
                                            </a>
                                            <a class="dummy-media-object img-radius" href="#!">
                                                <img src="~/Content/assets/images/avatar-3.jpg" class="img-radius" alt="NotificationStyles" />
                                                <h3>Notification Styles Inspiration</h3>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /morphsearch-content -->
                                    <span class="morphsearch-close"><i class="icofont icofont-search-alt-1"></i></span>
                                </div>
                                <!-- search end -->
                            </div>
                        </div>
                    </nav>

                    <!-- Sidebar chat start -->
                    <div id="sidebar" class="users p-chat-user showChat">
                        <div class="had-container">
                            <div class="card card_main p-fixed users-main">
                                <div class="user-box">
                                    <div class="card-block">
                                        <div class="right-icon-control">
                                            <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends">
                                            <div class="form-icon">
                                                <i class="icofont icofont-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-friend-list">
                                        <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                                            <a class="media-left" href="#!">
                                                <img class="media-object img-radius img-radius" src="~/Content/assets/images/avatar-3.jpg" alt="Generic placeholder image ">
                                                <div class="live-status bg-success"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Josephin Doe</div>
                                            </div>
                                        </div>
                                        <div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                                            <a class="media-left" href="#!">
                                                <img class="media-object img-radius" src="~/Content/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                                                <div class="live-status bg-success"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Lary Doe</div>
                                            </div>
                                        </div>
                                        <div class="media userlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                                            <a class="media-left" href="#!">
                                                <img class="media-object img-radius" src="~/Content/assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                                <div class="live-status bg-success"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Alice</div>
                                            </div>
                                        </div>
                                        <div class="media userlist-box" data-id="4" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                                            <a class="media-left" href="#!">
                                                <img class="media-object img-radius" src="~/Content/assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                                <div class="live-status bg-success"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Alia</div>
                                            </div>
                                        </div>
                                        <div class="media userlist-box" data-id="5" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                                            <a class="media-left" href="#!">
                                                <img class="media-object img-radius" src="~/Content/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                                                <div class="live-status bg-success"></div>
                                            </a>
                                            <div class="media-body">
                                                <div class="f-13 chat-header">Suzen</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar inner chat start-->
                    <!-- Sidebar inner chat end-->
                    <div class="pcoded-main-container">
                        <div class="pcoded-wrapper">
                            <nav class="pcoded-navbar">
                                <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                                <div class="pcoded-inner-navbar main-menu">
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Navigation</div>
                                    <ul class="pcoded-item pcoded-left-item">
                                        <li class="pcoded-hasmenu active pcoded-trigger">
                                            <a href="javascript:void(0)">
                                                <span class="pcoded-micon"><i class="ti-home"></i><b>C</b></span>
                                                <span class="pcoded-mtext" data-i18n="nav.dash.main">Cadastros</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="active">
                                                    <a href="#" class="recebimento-pessoa" data-target="#modal-recebimento-pessoa" data-toggle="modal">Recebimento CADASTRAR POR AQUI</a>
                                                </li>
                                                <li class="active">
                                                    <a href="#" class="cartao-pessoa" data-target="#cadastrar-cartoes-pessoa" data-toggle="modal">Cartão CADASTRAR POR AQUI</a>
                                                </li>
                                                <li class="active">
                                                    @Html.ActionLink("Recebimento", "Cadastro", "Recebimento")
                                                </li>
                                                <li class="active">
                                                    @Html.ActionLink("Categoria", "Cadastro", "Categoria")
                                                </li>
                                                <li class="active">
                                                    @Html.ActionLink("Pessoas", "Cadastro", "Pessoas")
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.ui-element">Index</div>
                                    <ul class="pcoded-item pcoded-left-item">
                                        <li class="pcoded-hasmenu active pcoded-trigger">
                                            <a href="javascript:void(0)">
                                                <span class="pcoded-micon"><i class="ti-home"></i><b>I</b></span>
                                                <span class="pcoded-mtext" data-i18n="nav.dash.main">Index</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="active">
                                                    @Html.ActionLink("Gastos", "Index", "Gasto")
                                                </li>
                                                <li class="active">
                                                    @Html.ActionLink("Cartão", "Index", "Cartao")
                                                </li>
                                                <li class="active">
                                                    @Html.ActionLink("Recebimento", "Index", "Recebimento")
                                                </li>
                                                <li class="active">
                                                    @Html.ActionLink("Categoria", "Index", "Categoria")
                                                </li>
                                                <li class="active">
                                                    @Html.ActionLink("Pessoas", "Index", "Pessoas")
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">Home do Sistema</div>
                                    <ul class="pcoded-item pcoded-left-item">
                                        <li class="pcoded-hasmenu active pcoded-trigger">
                                            <a href="javascript:void(0)">
                                                <span class="pcoded-micon"><i class="ti-home"></i><b>I</b></span>
                                                <span class="pcoded-mtext" data-i18n="nav.dash.main">Index</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="active">
                                                    @Html.ActionLink("Home", "Index", "Home")
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.tables">Tables</div>
                                    <ul class="pcoded-item pcoded-left-item"></ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.chart-and-maps">Chart And Maps</div>
                                    <ul class="pcoded-item pcoded-left-item"></ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.pages">Pages</div>
                                    <ul class="pcoded-item pcoded-left-item"></ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.app">App</div>
                                    <ul class="pcoded-item pcoded-left-item"></ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.extension">Extension</div>
                                    <ul class="pcoded-item pcoded-left-item"></ul>
                                    <ul class="pcoded-item pcoded-left-item"></ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.other">Other</div>
                                    <ul class="pcoded-item pcoded-left-item"></ul>
                                    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.support">Support</div>
                                    <ul class="pcoded-item pcoded-left-item"></ul>
                                </div>
                            </nav>
                            <div class="pcoded-content">
                                <div class="pcoded-inner-content">
                                    <div class="main-body">
                                        <div class="page-wrapper">

                                            <div class="page-body">
                                                @RenderBody()
                                            </div>
                                        </div>

                                        <div id="styleSelector">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--TABELA INICIO-->
            <div class="card">
                <div class="card-block">
                    <div class="table-responsive dt-responsive">
                        <table id="tabela-cartao-home" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>IdPessoas</th>
                                    <th>Numero</th>
                                    <th>Conta</th>
                                    <th>Bandeira</th>
                                    <th>Banco</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>IdPessoas</th>
                                    <th>Numero</th>
                                    <th>Conta</th>
                                    <th>Bandeira</th>
                                    <th>Banco</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!--TABELA FIM-->
        </div>
    </div>
    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Content/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/bootstrap/js/bootstrap.min.js"></script>

    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Content/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

    <!-- modernizr js -->
    <script type="text/javascript" src="~/Content/bower_components/modernizr/js/modernizr.js"></script>

    <!-- data-table js -->
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- am chart -->
    <script src="~/Content/assets/pages/widget/amchart/amcharts.min.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/serial.min.js"></script>

    <!-- Chart js -->
    <script type="text/javascript" src="~/Content/bower_components/chart.js/js/Chart.js"></script>

   
    <script src="~/Content/assets/js/pcoded.min.js"></script>

    @Html.Partial("~/Views/Pessoas/CadastroCartaoModal.cshtml")
    @Html.Partial("~/Views/Pessoas/EditarModal.cshtml")
    @Html.Partial("~/Views/Pessoas/CadastroRecebimentoModal.cshtml")

    <script src="~/Scripts/ScriptPessoaCadastro/edit-person-modal.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/delete-person-modal.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/cartao.js"></script>

    <script src="~/Scripts/ScriptPessoaCadastro/creat-person-modal.js"></script>
    <script src="~/Scripts/scriptPerfilUsuario/usuario-perfil.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/pessoas-cadastro.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/add-recebimento.js"></script>
    <script src="~/Scripts/scriptCartao/cartaotabela.js"></script>

    @RenderSection("script", false)
</body>

</html>
