@model SistemaFinanceiro.Models.Recebimento

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastro de recebimentos</h2>

<form action="/Recebimento/Store" method="post">
    <div class="form-horizontal">

        <!--<h4>Recebimento</h4> -->
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

       

        @* <div>
            <select name="Id_recebimento">
                <option selected="selected" disabled="disabled"></option>
                @foreach (SistemaFinanceiro.Models.Pessoas pessoa in @ViewBag.Pessoas)
                {
                    <option value="@pessoa.Id">@pessoa.Nome</option>
                }
            </select>
        </div>*@

        <div>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Voltar para lista", "Index")
</div>
