@model IEnumerable<SistemaFinanceiro.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>@ViewBag.TituloPagina</h2>

<p>
    @Html.ActionLink("Cadastrar categoria", "Cadastro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (SistemaFinanceiro.Models.Categoria item in @ViewBag.Categorias)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id, @class = "btn btn-sucess" }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
            </td>
        </tr>
    }

</table>
