@model IEnumerable<SistemaFinanceiro.Models.Cartoes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

@*<h2>@ViewBag.TituloPagina</h2>

    <p>
        @Html.ActionLink("Criar um novo cartão", "Cadastro")
    </p>*@

<a href="#" class="btn btn-primary cadastrar-cartao" data-target="#cadastrar-cartoes-modal" data-toggle="modal">Cadastrar</a>
<a href="#" class="btn btn-secondary editar-cartao" data-target="#editar-cartao-modal" data-toggle="modal">Editar</a>
<a href="#" class="btn btn-danger apagar-cartao" data-target="#deletar-cartao-modal" data-toggle="modal">Apagar</a>


<div class="card-block">
    <div class="table-responsive dt-responsive">
        <table id="tabela-cartao" class="table table-striped tabela-cartao-index" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Id Pessoas</th>
                    <th>Número Cartão</th>
                    <th>Número Conta</th>
                    <th>Bandeira</th>
                    <th>Banco</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>

                    <th>Id</th>
                    <th>Id Pessoas</th>
                    <th>Número Cartão</th>
                    <th>Número Conta</th>
                    <th>Bandeira</th>
                    <th>Banco</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--Chamando Cadastrar por ajax-->
@Html.Partial("~/Views/Cartao/CadastroModal.cshtml")

<!--Chamando Editar cartão por ajax-->
@Html.Partial("~/Views/Cartao/EditarCartaoModal.cshtml")


@Html.Partial("~/Views/Cartao/AvisoCartao.cshtml")

@section script{


    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/data-table-custom.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/modernizr/js/css-scrollbars.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>

    <script src="~/Content/assets/pages/data-table/js/data-table-custom.js"></script>

    <script src="~/Content/assets/js/script.js"></script>


    <script src="~/Scripts/scriptCartao/cartaotabela.js"></script>
    <script src="~/Scripts/scriptCartao/create-cartao-modal.js"></script>
    <script src="~/Scripts/scriptCartao/editar-cartao-modal.js"></script>
    <script src="~/Scripts/scriptCartao/deletar-cartao-modal.js"></script>
}