@model IEnumerable<SistemaFinanceiro.Models.Cartoes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>@ViewBag.TituloPagina</h2>

<p>
    @Html.ActionLink("Criar um novo cartão", "Cadastro")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Id_cartoes)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Numero_cartao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_conta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_seguranca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_vencimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bandeira)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banco)
        </th>
        <th></th>
    </tr>

@foreach (SistemaFinanceiro.Models.Cartoes item in @ViewBag.Cartoes)
{
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Id_cartoes)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Numero_cartao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_conta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_seguranca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_vencimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bandeira)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banco)
        </td>
        <td>
            <div>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id })
            </div>

            <div>
            @Html.ActionLink("Excluir", "Excluir", new { id=item.Id })
            </div>
        </td>
    </tr>
}

</table>
